body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0, #ffffff); /* Grey gradient */
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: left;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ccc; /* Grey button */
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    position: fixed;
    top: 20px;
}

.btn:hover {
    background-color: #999; /* Darker grey on hover */
}

/* Position buttons in the upper right corner */
.btn-main {
    right: 260px;
}

.btn-dataset {
    right: 147px;
}

.btn-about {
    right: 55px;
}

.container2 {
  max-width: 1000px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.image-right,
.image-left {
  display: flex;
  flex-direction: row;
}

.image-right .text,
.image-left .text {
  width: 100%; /* Adjusted width */
}

.image-right .image img,
.image-left .image img {
  max-width: 100%;
    max-height: 700px;
    margin-left: 30px
}

.image-right {
  margin-bottom: 20px;
}

.image-left {
  margin-bottom: 20px;
}

.two-images {
  display: flex;
  justify-content: space-between;
}

.two-images .image {
  flex: 1;
  margin-right: 10px;
}

.two-images .image:last-child {
  margin-right: 0;
}

.two-images .image img {
  max-width: 100%;
}

figure {
      margin: 0; /* Remove default margin */
    }
    figcaption {
      text-align: center; /* Center the caption */
      font-style: italic; /* Optionally style the caption */
    }

